:host {
  display: block;
}

.dynamic-input-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.-cl-label-no {
  color: var(--dark-primary-one, #b39bd3);
  font-weight: 700;
  min-width: 6rem;
  font-size: 1.5rem;
}

.-cl-input {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.06);
  padding: 6px 8px;
  color: var(--dark-pri-text, #dcd6e6);
  border-radius: 4px;
  width: 100%;
  font-size: 1rem;
}

.btn-remove {
  background: transparent;
  border: 1px solid var(--error);
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--error);
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 107, 107, 0.1);
  }
}

.btn-remove[disabled] {
  opacity: 0.35;
  cursor: default;
}

.-spacer {
  flex: 1;
}

.input-label {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.input-label b {
  color: var(--dark-primary-one, #b39bd3);
  font-weight: 700;
}

.btn-remove {
  margin-left: 8px;
}
