main {
  max-width: 90%;
  margin: 0 auto;
}

a.-st-active {
  color: var(--dark-primary-two);
  border-color: var(--dark-primary-two);
  background-color: var(--dark-accent-two);
}

* {
  input[type='text'] {
    padding: 0.5rem;
    border: 1px solid var(--dark-primary-one);
    border-radius: 4px;
    background-color: var(--dark-sect-bg-clr);
    color: var(--dark-pri-text);
    width: 100%;
  }
}

